@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
.modal,
::placeholder {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*<----------헤더 header---------->*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 0 16px;
}
.header.hidden {
  display: none;
}
.header .menu-list {
  display: flex;
  margin-right: 8px;
  padding: 8px 0;
}
.header .menu-list li + li {
  margin-left: 8px;
}
.header .btn--menu {
  padding: 10px 24px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.header .btn--menu:hover, .header .btn--menu:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.header .weather {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.header .weather .txt-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .weather .material-symbols-outlined {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  padding-bottom: 4px;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
}
.header .weather__txt {
  font-size: 1.4rem;
  line-height: 1.5;
  font-style: italic;
  font-weight: 300;
  word-break: break-all;
}
.header .weather__txt + .weather__txt {
  margin-left: 4px;
}

/*<----------메인 main---------->*/
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 16px;
}
.main .signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.main .signin-form.hidden {
  display: none;
}
.main .question {
  margin-bottom: 24px;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
}
.main .input--username {
  max-width: 256px;
  margin-bottom: 24px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ddd;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}
.main .input--username::placeholder {
  color: #fff;
  opacity: 0.8;
}
.main .btn--signin {
  padding: 10px 24px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.main .btn--signin:hover, .main .btn--signin:focus {
  background-color: rgba(255, 255, 255, 0.25);
}
.main .home-wrap.hidden {
  display: none;
}
.main .clock {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main .time {
  margin-right: 4px;
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 100;
}
.main .midday {
  padding-bottom: 4px;
  font-size: 3.2rem;
  line-height: 1.3;
  font-weight: 100;
}
.main .greeting {
  margin-top: 16px;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

/*<----------푸터 footer---------->*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px;
}
.footer.hidden {
  display: none;
}
.footer .quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.footer .quote q {
  margin-bottom: 8px;
}
.footer .btn--signout {
  padding: 10px 24px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-size: 1.4rem;
  line-height: 1.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.footer .btn--signout:hover, .footer .btn--signout:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

/*<----------모달 modal---------->*/
.modal {
  overflow: hidden;
  top: calc(1.4rem + 50px);
  left: 16px;
  width: 100%;
  max-width: calc(100vw - 32px);
  margin: 0;
  padding: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.97);
  box-sizing: border-box;
}
.modal .modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.modal .modal__title {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
}
.modal .btn--close-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-color: #5b5b5b;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.modal .btn--close-modal:hover, .modal .btn--close-modal:focus {
  background-color: #8b8b8b;
}
.modal .btn--close-modal .material-symbols-outlined {
  font-size: 2.4rem;
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 48;
}
.modal .todo-form {
  margin-bottom: 16px;
}
.modal .input--todo {
  width: 240px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ddd;
  font-size: 1.4rem;
  line-height: 1.5;
}
.modal .input--todo::placeholder {
  color: #ddd;
}
.modal .todo-list {
  overflow: auto;
  max-height: 40vh;
  padding-right: 12px;
}
.modal .todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.modal .todo-list li:hover, .modal .todo-list li:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.modal .todo-list li:hover .btn--del-todo, .modal .todo-list li:focus .btn--del-todo {
  color: #fff;
}
.modal .todo-content {
  margin-right: 12px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.modal .btn--del-todo {
  flex-shrink: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  color: #ddd;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.modal .btn--del-todo:hover, .modal .btn--del-todo:focus {
  color: #fff;
}
.modal .loading-txt {
  font-size: 1.4rem;
  line-height: 1.5;
}
.modal .news-list {
  overflow: auto;
  max-height: 40vh;
  padding-right: 8px;
}
.modal .news-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}
.modal .news-item:hover, .modal .news-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.modal .news-title {
  margin-right: 12px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.modal .news-source {
  overflow: hidden;
  flex-shrink: 0;
  width: 5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  color: #ddd;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 744px) {
  /*<----------메인 main---------->*/
  .main .question {
    margin-bottom: 32px;
    font-size: 3.3rem;
  }
  .main .input--username {
    max-width: 400px;
    margin-bottom: 32px;
    font-size: 3.3rem;
  }
  .main .btn--signin {
    border-radius: 60px;
    font-size: 2.1rem;
  }
  .main .time {
    font-size: 6rem;
  }
  .main .midday {
    padding-bottom: 5px;
    font-size: 4.8rem;
  }
  .main .greeting {
    font-size: 3.3rem;
  }
  /*<----------모달 modal---------->*/
  .modal {
    max-width: 480px;
  }
  .modal .input--todo {
    width: 320px;
  }
  .modal .news-source {
    width: 8rem;
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  데스크탑, 노트북 PC Desktop, Laptop
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1025px) {
  /*<----------헤더 header---------->*/
  .header .btn--menu {
    font-size: 1.6rem;
  }
  .header .weather .material-symbols-outlined {
    width: 24px;
    height: 24px;
    padding-bottom: 0px;
  }
  .header .weather__txt {
    font-size: 1.6rem;
  }
  /*<----------푸터 footer---------->*/
  .footer .quote {
    font-size: 1.6rem;
  }
  .footer .btn--signout {
    font-size: 1.6rem;
  }
  /*<----------모달 modal---------->*/
  .modal {
    top: calc(1.6rem + 50px);
    max-width: 640px;
  }
  .modal .modal__header {
    margin-bottom: 24px;
  }
  .modal .modal__title {
    font-size: 2.4rem;
  }
  .modal .btn--close-modal {
    width: 36px;
    height: 36px;
    border-radius: 36px;
  }
  .modal .input--todo {
    font-size: 1.6rem;
  }
  .modal .todo-content {
    font-size: 1.6rem;
  }
  .modal .btn--del-todo {
    font-size: 1.4rem;
  }
  .modal .loading-txt {
    font-size: 1.6rem;
  }
  .modal .news-title {
    font-size: 1.6rem;
  }
  .modal .news-source {
    font-size: 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */