@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

.hidden {
  display: none;
}

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

header,
footer,
.main {
  padding: 10px 15px;
}

.widget-wrap {
  display: flex;
  justify-content: end;
}

.weather {
  font-size: 1.4rem;
  font-weight: 100;
  font-style: italic;

  .material-symbols-outlined {
    font-size: 1.4rem;
  }
}

.app-title {
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: 700;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.clock {
  margin-bottom: 5vh;
  font-weight: 100;

  .clock--time {
    font-size: 4.8rem;
    vertical-align: bottom;
  }

  .clock--midday {
    display: inline-block;
    margin-left: 3px;
    padding-bottom: 2px;
    font-size: 3.2rem;
    vertical-align: bottom;
  }
}

.sign-wrap {
  width: 100%;
  margin-bottom: 5vh;

  .question {
    display: block;
    margin-bottom: 5vh;
    font-size: 2.6rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all;

    &.hidden {
      display: none;
    }

    &.on {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .username {
    display: block;
    width: 80%;
    max-width: 560px;
    margin: 15px auto 0;
    border-bottom: 2px solid #fff;
    font-size: 2.6rem;
    text-align: center;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 2rem;
    font-size: 2rem;
    font-weight: 300;
    opacity: 0;
    transform: translateY(20px);
    transition: background-color 0.3s, opacity 0.5s 0.2s, transform 0.5s 0.2s;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba($color: #fff, $alpha: 0.3);
    }

    &.hidden {
      display: none;
    }

    &.on {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .greeting {
    margin-bottom: 5vh;
    font-size: 3.2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all;

    &.on {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.todo-wrap {
  width: 90%;
  max-width: 560px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s 0.4s;

  &.on {
    opacity: 1;
    transform: translateY(0);
  }
}

.todo-form {
  display: block;
  width: 100%;
  margin-bottom: 16px;

  .new-todo {
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 1.6rem;
    text-align: center;
  }
}

.todo-list {
  height: 100%;
  max-height: 17vh;
  overflow-y: auto;
  padding-right: 8px;
  font-size: 1.6rem;

  li {
    display: flex;
    align-items: center;
    padding: 4px 0;

    span {
      flex-grow: 1;
      padding-right: 5px;
    }

    button {
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;

  .quote {
    align-self: center;
    // margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 100;
    font-style: italic;
    text-align: center;

    q {
      display: block;
      margin-bottom: 7px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .weather {
    font-size: 2.1rem;

    .material-symbols-outlined {
      font-size: 2.1rem;
    }
  }

  .app-title {
    margin-top: 30px;
    font-size: 4.8rem;
  }

  .clock {
    .clock--time {
      font-size: 7.2rem;
    }

    .clock--midday {
      font-size: 4.8rem;
    }
  }

  .sign-wrap {
    .question {
      font-size: 3.9rem;
    }

    .username {
      font-size: 3.9rem;
    }

    button {
      padding: 15px 23px;
      border-radius: 3rem;
      font-size: 3rem;
    }

    .greeting {
      font-size: 4.8rem;
    }
  }

  .todo-form {
    margin-bottom: 24px;

    .new-todo {
      padding-bottom: 7px;
      font-size: 2.4rem;
    }
  }

  .todo-list {
    font-size: 2.4rem;

    li {
      padding: 6px 0;

      span {
        flex-grow: 1;
        padding-right: 7px;
      }

      button {
        font-size: 2.1rem;
      }
    }
  }

  footer {
    .quote {
      font-size: 2.1rem;

      q {
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (min-width: 1367px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: rgba($color: #fff, $alpha: 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba($color: #fff, $alpha: 0.8);
  }

  .todo-list {
    li:hover {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }
}
